.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
}

.not-found h1 {
  font-size: 9em;
  margin: 0;
}

.not-found .error-info {
  width: 500px;
  height: 300px;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
  transition: all .3s;
  border-radius: 8px;
}

.not-found .error-info:hover {
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15);
}

.not-found .error-info .error_subtitle {
  font-size: 1.6em;
  margin-bottom: .5em;
}