.article-list {
  box-sizing: border-box;
  padding-top: 20px;
  height: 100%;
  overflow: hidden;
  background-color: aliceblue;
  user-select: none;
  position: relative;
}

/* 让 list 组件默认 100% 高度 */

.article-list .ant-list {
  height: 100%;
}

/* 修改 spin 区域的高度，让 spin 的图标可以居中显示 */

.article-list .ant-spin-nested-loading {
  height: 100%;
}

.article-list .ant-list-item-meta-avatar img {
  width: 130px;
  height: 88px;
  object-fit: cover;
}

.article-list .article-info {
  overflow: hidden;
  min-width: 1250px;
}

.article-list .article-info .categories {
  font-size: 12px;
  font-weight: bold;
}

.article-list .article-info .categories .item:not(:last-of-type)::after {
  content: '、';
}

.article-list .article-info .times .post-time {
  margin: 0 10px 0 0;
}

/* 移除 tag 组件默认 border */

.article-list .article-info .tags .ant-tag {
  border: none;
}

.article-list .ant-list-pagination {
  position: absolute;
  margin: 0;
  right: 100px;
  bottom: 50px;
}