.editor-toolbar {
  height: 50px;
  display: flex;
  background-color: #fff;
}

.editor-toolbar .btns {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 100px;
}

.editor-toolbar .btns>* {
  margin: 0 10px;
}