.tag-manage {
  padding: 20px 50px;
}

.tag-manage .tag-list .ant-tag:hover {
  transform: scale(1.2);
}

.tag-manage .ant-tag {
  cursor: pointer;
  user-select: none;
}

.tag-manage .tag-add {
  margin-top: 10px;
}

.tag-manage .tag-add input {
  width: 78px;
}