.site-manage {
  height: 100%;
  padding: 30px 100px;
}

.site-manage .site-info .ant-descriptions-title {
  font-size: 28px;
}

.site-manage .site-info .ant-descriptions-item-label {
  font-size: 18px;
  font-weight: 600;
}

.site-manage .site-info .ant-descriptions-item-content {
  font-size: 18px;
  max-width: 500px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-manage .site-info .about-me {
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.site-manage .site-info .ant-descriptions-item-content img {
  object-fit: cover;
}

.site-manage .edit-site {
  margin-top: 20px;
  text-align: center;
}