.site-manage {
  height: 100%;
  padding: 30px 100px;
}

.site-manage .site-info  {
  height: 300px;

}

.site-manage .site-info .ant-descriptions-title {
  font-size: 28px;
}

.site-manage .site-info .ant-descriptions-item-label {
  font-size: 18px;
  font-weight: 600;
}

.site-manage .site-info .ant-descriptions-item-content {
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow:hidden;
}

.site-manage .site-info .ant-descriptions-item-content img {
  object-fit: cover;
}
